.profile {
  min-height: 100vh;
  background: #f5f7f6;
}

/* HEADER */
.header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
  background: #fff;
  border-bottom: 1px solid #e5e7eb;
}

.icon {
  font-size: 22px;
  cursor: pointer;
}

.logo {
  height: 40px;
}

.headerRight {
  display: flex;
  align-items: center;
  gap: 20px;
}

.notification {
  position: relative;
  font-size: 20px;
}

.notification span {
  position: absolute;
  top: -6px;
  right: -8px;
  background: #22c55e;
  color: #fff;
  font-size: 10px;
  padding: 2px 6px;
  border-radius: 999px;
}

.user {
  display: flex;
  align-items: center;
  gap: 8px;
}

.user img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

/* LAYOUT */
.container {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 24px;
  padding: 32px;
}

/* SIDEBAR */
.sidebar {
  background: #fff;
  border-radius: 16px;
  padding: 24px;
  text-align: center;
  border: 1px solid #e5e7eb;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 12px;
}



.logout {
  margin-top: 40px;
  background: none;
  border: none;
  color: red;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
}

/* FORM */
.formCard {
  background: #fff;
  border-radius: 16px;
  padding: 32px;
  border: 1px solid #e5e7eb;
}

.row {
  margin-bottom: 16px;
}

.row label {
  display: block;
  font-size: 14px;
  margin-bottom: 6px;
}

.inputGroup {
  display: flex;
  align-items: center;
  border: 1px solid #d1d5db;
  border-radius: 10px;
  padding: 0 10px;
}

.inputGroup input {
  flex: 1;
  height: 42px;
  border: none;
  outline: none;
}

.inputGroup svg {
  color: #6b7280;
}

.sectionTitle {
  margin-top: 24px;
  margin-bottom: 12px;
}

/* BUTTONS */
.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.cancel {
  border: 1px solid #22c55e;
  background: transparent;
  color: #22c55e;
  padding: 10px 16px;
  border-radius: 10px;
  cursor: pointer;
}

.save {
  background: #22c55e;
  color: #fff;
  border: none;
  padding: 10px 16px;
  border-radius: 10px;
  cursor: pointer;
}

@media (max-width: 900px) {
  .header {
    height: 64px;
    padding: 0 16px;
  }

  .logo {
    height: 70px;
  }

  .headerRight {
    gap: 12px;
  }

  .user span {
    display: none;
  }

  .container {
    grid-template-columns: 1fr;
    gap: 16px;
    padding: 16px;
  }

  .sidebar {
    width: 100%;
    padding: 20px 16px;
  }

  .avatar {
    width: 150px;
    height: 150px;
    margin: 0 auto 12px;
  }

  .formCard {
    width: 100%;
    padding: 20px 16px;
  }

  .actions {
    flex-direction: column;
    gap: 12px;
  }

  .cancel,
  .save {
    width: 100%;
  }
}